<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>@Model.M.GetTitle()</title>
        <link rel="stylesheet" href="/WWW/View/Default/css/bootstrap.css">
        <link rel="stylesheet" href="/WWW/View/Default/css/bootstrap-theme.css">
        <script src="/WWW/View/Default/js/jquery.min.js"></script>
        <script src="/WWW/View/Default/js/bootstrap.js"></script>
        <script src="/WWW/View/Default/js/ie-emulation-modes-warning.js"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="/WWW/View/Default/js/html5shiv.js"></script>
            <script src="/WWW/View/Default/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        @RenderBody()
    </body>
</html>