<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--最大提交控件数-->
    <add key="aspnet:MaxHttpCollectionKeys" value="10001"/>
    <!--数据库连接-->
    <add key="conStr" value="Server=192.168.1.24,100;Database=M_Commerce_5_0_0;uid=sa;pwd=075783213316"/>
    <!--<add key="conStr" value="Server=192.168.1.24,100;Database=M_Commerce_4_5_0;uid=sa;pwd=075783213316"/>-->
    <add key="conStrStupor" value="Server=192.168.1.24,100;Database=M_Stupor_5_0_0;uid=sa;pwd=075783213316"/>
    <add key="AccountConStr" value="Server=192.168.1.24,100;Database=M_CNAccount_5_0_0;uid=sa;pwd=075783213316"/>
    <add key="OnlineCount" value="0i5MVEa0TtA="/>
    <!--数据访问层程序集名称 -->
    <add key="DAL" value="Make.DAL.DalImpl"/>
    <!--数据访问层程序集名称 -->
    <add key="BLL" value="Make.BLL.Ebo"/>
    <!--文本编辑器-->
    <add key="FCKeditor:BasePath" value="~/Web/FckEditor/"/>
    <add key="FCKeditor:UserFilesPath" value="/Files/"/>
    <!--文本编辑器-->
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>


